html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
    font-size: smaller;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.table-wrapper{
    padding: 1em;
    overflow:auto;
    
}

.table-wrapper::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
.table-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(46, 4, 4); 
    border-radius: 9px;
  }
   
/* Handle */
.table-wrapper::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2); 
    border-radius: 9px;
  }
  
/* Handle on hover */
.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 8, 54);
  }

table {
   
	width: 800px;
	overflow: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-collapse: separate;
}

tr:hover {background-color: rgb(77, 8, 54);}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
    width:fit-content
}

th {
	text-align: left;
    background-color: #55608f;
}